:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #2f2e2e;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --transparentwhite: rgba(255, 255, 255, .9);
  --transparentgray: rgba(0, 0, 0, .5);
}

@font-face {
    font-family: 'd-din-bold';
    src: url('d-din-bold-webfont.woff2') format('woff2'),
         url('d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din-italic';
    src: url('d-din-italic-webfont.woff2') format('woff2'),
         url('d-din-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din';
    src: url('d-din-webfont.woff2') format('woff2'),
         url('d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'd-din', sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

h1,h2,h3 {
  font-family: 'd-din-bold', sans-serif;
}

p:last-child {
  margin-bottom: 0;
}
.tmpl-post p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--darkred);
}
a[href]:visited {
  color: var(--darkred);
}
dt {
  padding: 0 0 .286em 0;
  font-family: 'd-din-bold', sans-serif;
  font-size: 1.313em;
}
dd {
  margin: 0;
  padding: 0 0 1.5em 0;
}
main {
  /*padding: 1rem;*/
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header a[href], header a[href]:visited {
  color: var(--darkgray)
}
footer {
  padding: 1em;
  margin-top: 1em;
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.footer-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav .nav-item {
  display: inline-block;
  margin-right: 1em;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

/* Posts list */

.cover-photo {
  background-color: var(--blue);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 16px;
  color: white;
  transition: .2s;
  cursor: pointer;
  overflow: hidden;
  max-height: 157px;
}

.cover-photo img {
  width: 100%;
}

.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  /*counter-increment: start-from -1;*/
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
  margin-bottom: 2em;
  display: block;
}
.postlist-link {
  display: block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 5px 0 5px;
  margin-right: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--darkgray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: var(--darkgray);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Corner ribbon styles */
/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* Contact page styles */
form {
  border: 1px solid var(--gray);
  margin: 0 auto;
  padding: 1em;
  max-width: 768px;
}

label {
  font-family: 'd-din-bold', sans-serif;
}

input, textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--blue);
  line-height: 1.4em;
  padding:.5em;
  font-family: 'd-din', sans-serif;
  font-size: 1em;
}

textarea {
  height: 5em;
}

button {
  padding: .25em 1em;
  background-color: var(--red);
  color: white;
  font-family: 'd-din-bold', sans-serif;
  font-size: 1.25em;
  border-radius: 4px;
  border: 1px solid var(--darkred);
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background-color: var(--darkred);
}

/* Home page styles */
#home-hero {
  background-image: url(/img/bw_mk2_cropped.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--white);
  
}

#home-hero h1 {
  font-size: 2.5em;
  border-bottom: 1px solid var(--red);
  text-shadow: 0px 2px 2px var(--transparentgray);
  padding: .5em .2em .5em .2em;
  margin-bottom: 0;
}

#home-hero h2 {
  margin: 0;
  padding: .5em .5em;
  font-family: 'd-din', sans-serif;
}

.pattern-background {
  background-image: url(/img/piston_pattern.png);
  padding: 2em;
}

.pattern-background div {
  background-color: var(--white);
  padding: 2em;
  max-width: 37.5em;
}

/* Glossary page styles */
#glossary {
  background-image: url(/img/C2_gravel_road.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

#glossary h1 {
  padding: .4em 0 3em 0;
  text-align: center;
  color: var(--white);
  text-shadow: 0px 2px 2px var(--transparentgray);
  font-size: 3em;
  margin: 0;
}

.transparent-box {
  background-color: var(--transparentwhite);
  padding: 2em;
  max-width: 620px;
  margin: auto;
}

.transparent-box h2 {
  display: table;
  border-bottom: 1px solid var(--red);
  padding-bottom: .25em;
}

/* Guide page styles */
#guides h1 {
  margin: 0;
  padding: .4em 0 0 0;
  font-size: 3em;
  text-align: center;
}

#guides h2 {
  text-align: center;
  border-bottom: 1px solid var(--red);
  display: table;
  margin: auto;
}

.guide-box {
  position: relative;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  background-size: cover;
  background-position: center;
}

.guide-box h3 {
  padding: .5em 1em;
  color: var(--white);
  text-shadow: 0px 2px 2px var(--transparentgray);
  font-size: 2em;
}

.guide-box h3.dark {
  color: var(--darkgray);
}

.guide-box .description {
  bottom: 0px;
  width: 100%;
  position: absolute;
  padding: 1em;
  background-color: var(--blue);
  color: var(--white); 
}

#buyers-guide {
  background-image: url(/img/silver_porsche_996_open_door.jpg);
}

#model-guide {
  background-image: url(/img/porsche_996_mk2s_in_the_mountains.jpg);
}

#rebuild-guide {
  background-image: url(/img/m96_engine_rebuild.jpg);
}

#mods-guide {
  background-image: url(/img/speed_yellow_at_speed.jpg);
}

#wheel-guide {
  background-image: url(/img/porsche-996-mk2-mountains-side-view.jpg);
}

.section-header {
  background-color: lightgray;
  padding: 3px 8px;
  clear: both;
}

#guides table {
  border-collapse: collapse;
}

#guides td, #guides th {
  padding: 5px;
}

#guides table thead tr th {
  border-bottom: 1px solid red;
  font-family: 'd-din-bold', sans-serif;
  background-color: lightgray;
}

#guides table tr td {
  border-bottom: 1px solid lightgray;
}

.narrow-guide {
  max-width: 720px;
  margin: 0 auto;
}

.wheel-details h3 {
    margin-bottom: 5px;
    float:none;
}

.wheel-details div {
  margin-bottom: 10px;
}

.wheel-photo {
  float: left;
  width: 320px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  margin: 0px 10px 0 0;
}

.wheel-photo a, 
.wheel-photo a[href]:visited {
  position: relative;
  top: 180px;
  right: -280px;
  font-size: .75em;
  color: white;
  text-align: right;
}

.wheel-10-spoke {
  background-image: url(/img/wheels/996-10-spoke.jpg);
}

.carrera-2 {
  background-image: url(/img/wheels/carrera-2.jpg);
}

.carrera-4 {
  background-image: url(/img/wheels/carrera-4.jpg);
}

.carrera {
  background-image: url(/img/wheels/carrera.jpg);
}

.turbo {
  background-image: url(/img/wheels/turbo.jpg);
}

.turbo-2 {
  background-image: url(/img/wheels/turbo-2.jpg);
}

.sport-techno {
  background-image: url(/img/wheels/sport-techno.jpg);
}

.sport-design {
  background-image: url(/img/wheels/sport-design.jpg);
}

.gt3 {
  background-image: url(/img/wheels/gt3.jpg);
}

/*Resources page styles*/
#resources {
  background-image: url(/img/silver_C4S_on_brick.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

#resources h1 {
  padding: .4em 0 3em 0;
  text-align: center;
  color: var(--white);
  text-shadow: 0px 2px 2px var(--transparentgray);
  font-size: 3em;
  margin: 0;
}

#resources h3 {
  padding: .5em 0 .5em 0;
  margin: 0;
}

#resources ul {
  list-style-type: none;
  padding-left: 0;
}

#resources ul li {
  padding: 0 0 .5em 0;
}

#resources ul li a {
  font-family: 'd-din-bold', sans-serif;
  display: block;
}


/* Responsive styles */
@media (min-width: 768px){

.row {
  max-width: 724px;
  margin: 0 auto;
}

#home-hero {
  padding-top: 20vh;
  padding-right: 1em;  
  padding-bottom: 15vh;
  padding-left: 65%;
  background-attachment: fixed;
  min-height: 85vh;
  text-align: left;
}

#home-hero h1 {
  padding: 0 0 .5em 0;
  font-size: 3em; 
}

#home-hero h2 {
  padding: 1em 0 .5em 0;
}

#glossary, #resources {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#glossary h1, #resources h1, #guides h1 {
  padding: .5em;
  font-size: 5em;
}

#guides table {
  margin: 0 0 20px 10px;
}

.wheel-photo {
  width: 120px;
  height: 120px;
}

.wheel-photo a, 
.wheel-photo a[href]:visited {
  top: 100px;
  right: -80px;
}

}

@media (min-width: 1024px){

.row {
  max-width: 960px;
  margin: 0 auto;
}
.postlist-item {
  width: 280px;
  display: inline-block;
  margin-right: 20px;
}
}

@media (min-width: 1200px){

...

}
