---
layout: layouts/home.njk
tags:
  - nav
navtitle: Articles
permalink: /articles/
date: 2018-12-01
---

<section id="guides">
<div class="row">
<h1>Articles</h1>
<h2>Dispatches from the home of the Porsche 996</h2>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>
</section>