---
layout: layouts/base.njk
title: Guides - In-depth information on the Porsche 996
tags:
  - nav
navtitle: Guides
templateClass: tmpl-post
date: 2018-11-01
---
<section id="guides">
<div class="row">

<h1>996 Guides</h1>
<h2>In-depth information on the Porsche 996</h2>
<a href="/guides/wheel-guide">
<div id="wheel-guide" class="guide-box">
	<h3>Factory Wheel Guide</h3>
	<div class="description">Styles, offsets, weights and sizes for evey factory porsche 996 wheel.</div>
</div>
</a>

<a href="/guides/engine-rebuild-guide">
<div id="rebuild-guide" class="guide-box">
	<h3>Engine Rebuild Options</h3>
	<div class="description">Comparison of engine rebuild and replacement options for the M96 motor in your Porsche 996.</div>
</div>
</a>

<div id="model-guide" class="guide-box">
	<div class="ribbon ribbon-top-right"><span>Coming Soon</span></div>
	<h3 class="dark">Model Guide</h3>
	<div class="description">Mk1 vs Mk2. Carrera vs 4S. Cabriolet vs Targa. Learn about all the different variations of the Porsche 996.</div>
</div>

<div id="buyers-guide" class="guide-box">
	<div class="ribbon ribbon-top-right"><span>Coming Soon</span></div>
	<h3 class="dark">Buyer's Guide</h3>
	<div class="description">Learn what to look for, what to avoid, and where to buy your Porsche 996.</div>
</div>

<div id="mods-guide" class="guide-box">
	<div class="ribbon ribbon-top-right"><span>Coming Soon</span></div>
	<h3>Modifications</h3>
	<div class="description">What to modify and what to skip when considering mods for your Porsche 996.</div>
</div>

</div>
</section>