---
layout: layouts/home.njk
tags:
navtitle: Wassergekühlt - Home of the Porsche 996
---

<section id="home-hero">
<div class="row">
	<h1>The unique face  of an automotive legend reborn</h1>
	<h2>The Porsche 996</h2>
</div>
</section>

<section class="pattern-background">
<div class="row">
	<h2>Wassergekühlt: Home of the Porsche 996</h2>
	<p>
	Porsche's iconic rear-engined sports car debuted in 1963, but it was reborn in 1998 with the introduction of the '996' model. The 996 was the first all-new chassis design since the 911's debut, and features the first water cooled engine for the 911, a feature that Germans refer to as <em>wassergekühlt</em>.
	</p>
	<p>
	With the oldest of these sports cars passing the 20 year mark, they are transitioning from mere used cars to bona fide classics. This site aims to gather together all the information needed mainain, cherish, and enjoy the Porsche 996.
	</p>
</div>
</section>

<section class="recent-articles">
<div class="row">
	<h3>Recent Articles</h3>

	{% set postslist = collections.posts | head(-3) %}
	{% include "postslist.njk" %}

	<p>Read more posts in <a href="{{ '/articles/' | url }}">Articles</a></p>
</div>
</section>

<section class="featured-guide">
<div class="row">
<div id="model-guide" class="guide-box">
	<div class="ribbon ribbon-top-right"><span>Coming Soon</span></div>
	<h3 class="dark">Model Guide</h3>
	<div class="description">Mk1 vs Mk2. Carrera vs 4S. Cabriolet vs Targa. Learn about all the different variations of the Porsche 996.</div>
</div>
<p>See more topics in <a href="{{ '/guides/' | url }}">Guides</a></p>
</div>
</section>
