---
layout: layouts/base.njk
title: Wassergekuhlt guide to Porsche 996 engine rebuild options
tags:
navtitle:
templateClass: tmpl-post
date: 2021-01-03
---

<section id="guides">
<div class="row">
<div class="narrow-guide">
<h1>Engine Rebuilds</h1>
<h2>Comparing options for rebuilding the M96 engine in the Porsche 996</h2>

<p>You’re either here because you’re curious or you’re here because your engine is busted. If it’s the latter, you have the sympathies of the entire 996 community, including many of us who’ve been dealt this terrible hand before you.</p>

<p>The rebuild options depend on what went wrong. Some of the most common issues that require a rebuild are the infamous IMS bearing issue and the lesser-known (but still deadly) bore scoring issue. Before you can decide on what path to take for a rebuild, you'll need to accurately diagnose why your engine failed. After that, you can start to work through some core questions.</p>

<h3>Who do you trust with the work?</h3>
<p>You have many options, but they fall into a few categories:</p>

<h4>Option 1: Hire a local shop to rebuild the motor</h4>
<p>Unless your local shop is one of a handful of M96 engine specialists, this is probably a bad option. These engines are difficult even for specialized Porsche shops to rebuild. A good shop will recognize this and will refer you to a specialized engine builder.</p>

<h4>Option 2: Hire a local shop to swap the block</h4>
<p>Porsche sells a factory assembled short-block that a good Porsche specialist can swap your heads and accessories onto. This can be a cost-effective option and has the benefit of keeping the engine work, and the final installation, in the hands of one shop. There is value in having a "single wringable neck" if things go wrong. While you won't have the option for upgrading the lower block, you can (and should) refinish your heads and update other items while the engine is out and accessible.</p>

<h4>Option 3: Send your engine to an M96 engine specialist for a rebuild</h4>
<p>You can have your local shop pull the engine and send it to a specialist like EBS Racing or Vertech for a rebuild. They will send it back to your shop for reinstallation. This gives you the option for upgrades in the lower block, including increased displacement, forged pistons, and upgraded bearings. However, if things go wrong, you may end up with your shop and engine builder pointing fingers at each other and no one taking responsibility for the fixing the issue.</p>

<h4>Option 4: Send your whole car to an M96 engine specialist for a rebuild and install</h4>
<p>Your very best option is to ship your entire car to someone like Flat Six Innovations or RND Engines - that specialize in these engines, have a stellar reputation, and deliver your engine installed and tested in your Porsche. Of course, the best options are also some of the most expensive. Wait times can also be brutal - a year or more for the FSI waitlist. If your car isn't driveable, that's a long time to wait. If your budget and timeline don't align with this option, you'll want to explore the others above.</p>

<h3>What about sleeves?</h3>
<p>Cars that suffered bore scoring will need to have their cylinders machined smooth. The cylinder walls of a soft aluminum block then need to be coated or lined with a harder metal. The blocks originally came with an Alusil coating which degrades over time due to a variety of factors.</p>

<p>It's possible to have the repaired bores re-coated, but there don't seem to be many shops that recommend this on the M96. The other option is to have liners (aka "sleeves") installed into the cylinders. They can be made of either ductile iron or Nikasil. The latter has a better reputation for longevity but costs quite a bit more. There are also "open deck" and "closed deck" sleeve designs, but that's a topic for a dedicated article.</p>

<p>The general consensus in the 996 community is that Nikasil liners are the best way to go if budget isn't an issue. Some knowledgeable experts cite concerns about iron sleeves shifting in the block, because of the different thermal expansion rates of iron and aluminum. However, there are engines with iron sleeves running many years on the road and track without issue.</p>

<h3>What else should you do while you're in there?</h3>
<p>Once you've removed the engine, you've provided easy access to many items that would otherwise cost a bundle just to get to.</p>

<p>You'll for sure want to refinish your heads before reinstalling them. They should go to a shop that specializes in Porsche heads and won't screw them up. The stock heads flow very well and won't benefit from an average port-and-polish job. Just make sure everything is machined straight and the valves are redone.</p>

<p>Depending on what rebuild path you take, some items like IMSB, RMS, and water pump, may be included. If not, you'll want your shop to address those too. Finally, you'll want to make sure you change out a few simple things that are a pain to get to with the engine installed, including the AOS, coolant tank, and oil filler tube. If your engine suffered bore scoring, you'll want to replace the fuel injectors, too.</p>

<h3>How much is this all going to cost?</h3>
<p>Of course, it depends on which route you choose and what additional work you elect to do, but figure on spending at least $12k. Realistically, it's more like $15k on the low end, assuming you take care of some "while you're in there" items like the clutch, AOS, and coolant tank. That's a tough pill to swallow for a car that's probably will probably be valued between $20-25k in good working condition. But if your engine is toast, there aren't good options for less money. A used engine is a crapshoot, and a shop that promises you a low-budget rebuild for much less than $12k is likely heading for trouble by reusing lots of worn parts. Oh, and if you're looking for a bullet-proof hot rod build from FSI, figure on spending $25k or more.</p> 

<p>For a comparison of options from different builders, check out this detailed spreadsheet. I have compiled the parts and costs that go into rebuilds from a number of builders, including Flat Six Innovations, Vertex, EBS Racing, and more.</p>

<iframe class="spreadsheet-embed" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQy-yNzBVHMafLkbldsEX6QcJs1_p2yoKABIfZjX3Z3WsuSm5SP_UPSs42JpNcGNZH2YHMC0SgFe5yK/pubhtml?widget=true&amp;headers=false"></iframe>
<a href="https://docs.google.com/spreadsheets/d/1roke7O_Yyigm8AaE1Gei1ncGhFN6sh9sgAE9H0gh9Ks/edit?usp=sharing">View full-size in Google Sheets</a>

<p>This guide and these numbers are based on the author's research for his own engine rebuild project, and the information here may be out-of-date. So before making any expensive decisions, be sure to do your own research online and by contacting vendors directly for advice and pricing. Good luck with whatever path you choose!</p>

<p>Have questions, corrections, or additions for this guide? Please <a href="/contact/">get in touch</a>.</p>

</div>
</div>
</section>