---
layout: layouts/base.njk
title: Resources
tags:
  - nav
navtitle: Resources
templateClass: tmpl-post
date: 2018-10-01
---

<h1>Porsche 996 Resources</h1>
<h2>Where to learn more about the Porsche 996</h2>
<section class="glossary">

<h3>Clubs</h3>
<ul>
	<li><a href="https://www.pca.org/">Porsche Club of America</a>Giant Porsche club with local chapters and events in every part of the United States and Canada.</li>
</ul>

<h3>Forums</h3>
<ul>
	<li><a href="https://rennlist.com/forums/996-forum-60/">Rennlist</a></li>
	<li><a href="https://www.renntech.org/forum/2-996-series-carrera-carrera-4-carrera-4s-targa/">Renntech</a></li>
	<li><a href="http://forums.pelicanparts.com/porsche-996-997-991-forum/">Pelican Parts Forums</a></li>
</ul>

<h3>Books</h3>
<ul>
	<li><a href="https://www.amazon.com/Projects-Porsche-1998-2008-Motorbooks-Workshop/dp/0760344035/ref=asc_df_0760344035/?">101 Projects for Your Porsche 911</li>
	<li><a href="https://www.amazon.com/Porsche-Carrera-Type-Service-Manual/dp/0837617103/ref=sr_1_2">Bentley Service Manual</a></li>
	<li><a href="https://www.amazon.com/Porsche-996-Essential-Companion-Supreme/dp/1845840968">Porsche 996 The Essential Companion</a></li>
</ul>

<h3>Online Technical Reference</h3>
<ul>
	<li><a href="https://www.renntech.org/tutorials/category/1-996-carrera-diy/">Renntech DIY Tutorials</a></li>
	<li><a href="https://www.pelicanparts.com/techarticles/996_tech.htm">Pelican Parts Technical Articles</a></li>
</ul>

<h3>Parts</h3>
<ul>
	<li><a href="https://www.fcpeuro.com/">FCP Euro</a></li>
	<li><a href="https://www.pelicanparts.com/">Pelican Parts</a></li>
	<li><a href="https://www.suncoastparts.com/">Suncoast Parts</a></li>
	<li><a href="https://www.warehouse33auto.com/">Warehouse 33</a></li>
</ul>
</section>




