---
layout: layouts/base.njk
title: Resources - Where to learn more about the Porsche 996
tags:
  - nav
navtitle: Resources
templateClass: tmpl-post
date: 2018-10-01
---
<section id="resources">
<div class="row">
<h1>996 Resources</h1>
<div class="transparent-box">
<h2>Where to learn more about the Porsche 996</h2>
<ul>
	<li>
		<h3>Clubs</h3>
		<ul>
			<li><a href="https://www.pca.org/">Porsche Club of America</a>
			Giant Porsche club with local chapters and events in every part of the United States and Canada</li>
		</ul>
	</li>
	<li>
		<h3>Forums</h3>
		<ul>
			<li><a href="https://rennlist.com/forums/996-forum-60/">Rennlist</a>
			Comprehensive Porsche enthusiast site with a dedicated and very active 996 forum</li>
			<li><a href="https://www.renntech.org/forum/2-996-series-carrera-carrera-4-carrera-4s-targa/">Renntech</a>
			Tech-focused forum with lots of how-to's and guides for fixing your Porsche</li>
			<li><a href="http://forums.pelicanparts.com/porsche-996-997-991-forum/">Pelican Parts Forums</a>
			Lots of technical Q&amp;A hosted by one of the biggest parts suppliers around
			</li>
			<li><a href="https://www.planet-9.com/">Planet-9</a>
			Porsche enthusiast site with solid representation from the UK</li>
		</ul>
	</li>
	<li>
		<h3>Books</h3>
		<ul>
			<li><a href="https://www.amazon.com/Projects-Porsche-1998-2008-Motorbooks-Workshop/dp/0760344035/ref=asc_df_0760344035/?">101 Projects for Your Porsche 911</a>
			How to do all the most common maintenance, repairs, and modifications on your 996</li>
			<li><a href="https://www.amazon.com/Porsche-Carrera-Type-Service-Manual/dp/0837617103/ref=sr_1_2">Bentley Service Manual</a>
			Essential for factory specs like torque values and parts diagrams that aren't included in other guides</li>
			<li><a href="https://www.amazon.com/Porsche-996-Essential-Companion-Supreme/dp/1845840968">Porsche 996 The Essential Companion</a>
			Out of print guide that aims to be a comprehensive resource for 996 owners</li>
		</ul>
	</li>
	<li>
		<h3>Online Technical Reference</h3>
		<ul>
			<li><a href="https://www.pelicanparts.com/techarticles/996_tech.htm">Pelican Parts Technical Articles</a>
			Detailed guides on the most common procedures to maintain, repair, and modify your 996</li>
			<li><a href="https://www.renntech.org/tutorials/category/1-996-carrera-diy/">Renntech DIY Tutorials</a>
			Detailed technical guides for fixing things that aren't covered in other places</li>
		</ul>
	</li>
	<li>
		<h3>Parts</h3>
		<ul>
			<li><a href="https://www.fcpeuro.com/">FCP Euro</a>
			Great selection of Porsche parts with a nearly unbelievable lifetime warranty</li>
			<li><a href="https://www.pelicanparts.com/">Pelican Parts</a>
			Comprehensive selection of Porsche parts with useful guides on how to install them</li>
			<li><a href="https://www.suncoastparts.com/">Suncoast Porsche Parts &amp; Accessories</a>
			For when only factory parts and accessories will do</li>
		</ul>
	</li>
</ul>
</div>
</div>
</section>




