---
layout: layouts/base.njk
title: Glossary - Porsche 996 acronyms and jargon decoded
tags:
  - nav
navtitle: Glossary
templateClass: tmpl-post
date: 2018-02-01
---

<section id="glossary">
<div class="row">
<h1>996 Glossary</h1>
<div class="transparent-box">
<h2>Porsche acronyms and jargon decoded</h2>
<dl>
    <dt>911</dt>
	<dd>The model name of Porsche's iconic rear-engined sports car that debuted in 1963.</dd>

    <dt>996</dt>
    <dd>Porsche's internal designation for the 911 generation built from 1997-2004 and sold in the United States starting in the 1999 model year. The 996 was the first all-new chassis design since the 911's debut, and features the first water cooled engine for the 911.</dd>

    <dt>Air Oil Separator (AOS)</dt>
    <dd>Emissions control device and common source of issues for the 996.</dd>

    <dt>Carrera</dt>
    <dd>A model designation used in various generations of the Porsche 911. It pays homage to the Carerra Panamericana road race that was Porsche's first major motorsports victory in 1953.</dd>

    <dt>Carrera 2 (C2)</dt>
    <dd>Two wheel drive variant of the Porsche 911 Carerra</dd>

    <dt>Carrera 4 (C4)</dt>
    <dd>Four wheel drive variant of the Porsche 911 Carerra</dd>

    <dt>Carrera 4S (C4S)</dt>
    <dd>Four wheel drive "S" variant of the Porsche 911 Carrera</dd>

    <dt>Coffin Arm</dt>
    <dd>The lower suspension control arm that has a "coffin" shape</dd>

    <dt>Intermediate Shaft (IMS)</dt>
    <dd>The intermediate shaft (sometimes called a layshaft) runs through the middle of a flat six engine and keeps both camshafts rotating in sync.</dd>

    <dt>Intermediate Shaft Bearing (IMSB)</dt>
    <dd>A bearing holding up the intermediate shaft which runs through the middle of a flat six engine and keeps both camshafts rotating in sync. This is the most notorious trouble spot for the Porsche 996.</dd>

    <dt>M96</dt>
    <dd>Porsche's internal designation for the engine that debuted in the 996 and Boxster.</dd>

    <dt>Rear Main Seal (RMS)</dt>
    <dd>The main seal between the engine block and transmission housing. A common source of oil leaks on the M96 engine, as the factory supplied seals are prone to failure.</dd>

    <dt>Wassergekühlt</dt>
    <dd>German for "water-cooled". The Porsche 996 featured the first water-cooled engine in a 911. Previous generations all used an air-cooled engine design. The water-cooled design was necessary for Porsche to meet evolving emissions and efficiency standards in the 1990s.</dd>
</dl>
</div>
</section>
