---
layout: layouts/base.njk
title: Wassergekuhlt guide to Porsche 996 Wheels
tags:
navtitle:
templateClass: tmpl-post
date: 2018-02-01
---
<section id="guides">
<div class="row">
<h1>Wheel Guide</h1>
<h2>Complete guide to Porsche 996 factory wheel options</h2>
<p>Porsche offered a number of different wheel styles from the factory over the course of the 996 production run. They were available in 17” and 18” diameters and in various widths and offsets to fit narrow and wide body chassis.</p>

<p>Despite the ready supply of fabulous-looking 19” aftermarket wheels for the 996, the suspension was designed to work best with 18” wheels and 19s were were not offered by Porsche. This guide covers all of the wheel styles and sizes shipped from the factory.</p>

<h3 class="section-header">17" Wheels</h3>

<div class="wheel-details">
<h3>996 10-Spoke</h3>
<div>10 spoke base wheel</div>
<div class="wheel-photo wheel-10-spoke">
	<a href="http://forums.pelicanparts.com/7916843-post1.html">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tbody>
	<tr>
		<td>7</td>
		<td>50</td>
		<td>996.362.124.01</td>
		<td>8.2 kg</td>
		<td>18.1 lb</td>
	</tr>
	<tr>
		<td>7</td>
		<td>50</td>
		<td>996.362.124.02</td>
		<td>NA</td>
		<td></td>
	</tr>
	<tr>
		<td>9</td>
		<td>55</td>
		<td>996.362.128.02</td>
		<td>9.5 kg</td>
		<td>20.9 lb</td>
	</tr>
	</tbody>
</table>
</div>

<div class="wheel-details">
<h3>996 Carrera 2</h3>
<div>5-spoke base wheel fitted to the Carrera 2</div>
<div class="wheel-photo carrera-2">
	<a href="https://www.ebay.com/itm/Wheel-Rim-Alloy-17x7-Carrera-Fits-99-01-PORSCHE-911-Boxster-99636212400/333635682462?">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7</td>
		<td>55</td>
		<td>996.362.124.00</td>
		<td>8.2 kg</td>
		<td>18.1 lb</td>
	</tr>
	<tr>
		<td>8.5</td>
		<td>50</td>
		<td>996.362.126.05</td>
		<td>NA</td>
		<td></td>
	</tr>
	<tr>
		<td>9</td>
		<td>55</td>
		<td>996.362.128.00</td>
		<td>9.7 kg</td>
		<td>21.4 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>996 Carrera 4</h3>
<div>5-spoke base wheel fitted to the Carrera 4</div>
<div class="wheel-photo carrera-4">
	<a href="https://www.aasesales.com/products/wheelrack3-110103">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7</td>
		<td>55</td>
		<td>996.362.124.01</td>
		<td>9.5 kg</td>
		<td>20.9 lb</td>
	</tr>
	<tr>
		<td>9</td>
		<td>55</td>
		<td>996.362.128.01</td>
		<td>11.5 kg</td>
		<td>25.4 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3 class="section-header">18" Wheels</h3>
<h3>Carrera</h3>
<div>Optional 5 spoke design introduced with the MK2</div>
<div class="wheel-photo carrera">
	<a href="https://www.ebay.com/i/264818838737">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7.5</td>
		<td>50</td>
		<td>996.362.134</td>
		<td>9.3 kg</td>
		<td>20.5 lb</td>
	</tr>
	<tr>
		<td>8</td>
		<td>50</td>
		<td>996.362.136.07</td>
		<td>9.3 kg</td>
		<td>20.5 lb</td>
	</tr>
	<tr>
		<td>9</td>
		<td>52</td>
		<td>996.362.138.00</td>
		<td>10.3 kg</td>
		<td>22.7 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>65</td>
		<td>996.362.140.07</td>
		<td>10.3 kg</td>
		<td>22.7 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>Turbo</h3>
<div>This is the classic Turbo Twist with Porshe's hollow spoke technology.</div>
<div class="wheel-photo turbo"></div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7.5</td>
		<td>50</td>
		<td>993.362.134.05</td>
		<td>8.6 kg</td>
		<td>19.0 lb</td>
	</tr>
	<tr>
		<td>8</td>
		<td>52</td>
		<td>993.362.136.00</td>
		<td>8.9 kg</td>
		<td>19.6 lb</td>
	</tr>
	<tr>
		<td>9</td>
		<td>52</td>
		<td>993.362.138.00</td>
		<td>10.2 kg</td>
		<td>22.5 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>40</td>
		<td>993.362.140.00</td>
		<td>11.4 kg</td>
		<td>25.1 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>65</td>
		<td>993.362.140.01</td>
		<td>10.6 kg</td>
		<td>23.4 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>Turbo Look</h3>
<div>The looks of the Turbo twists in a cheaper and slightly heavier solid spoke design.</div>
<div class="wheel-photo turbo"></div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7.5</td>
		<td>50</td>
		<td>993.362.134.06</td>
		<td>11.3 kg</td>
		<td>24.9 lb</td>
	</tr>
	<tr>
		<td>8</td>
		<td>52</td>
		<td>993.362.136.01</td>
		<td>11.6 kg</td>
		<td>25.6 lb</td>
	</tr>
	<tr>
		<td>9</td>
		<td>52</td>
		<td>993.362.138.01</td>
		<td>13.2 kg</td>
		<td>29.1 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>40</td>
		<td>993.362.140.03</td>
		<td>14.1 kg</td>
		<td>31.1 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>65</td>
		<td>993.362.140.04</td>
		<td>13.3 kg</td>
		<td>29.3 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>Turbo II</h3>
<div>Follow up to classic turbo twist design with hollow spokes</div>
<div class="wheel-photo turbo-2">
	<a href="https://rennlist.com/forums/parts-marketplace-old/1113725-18-porsche-oem-factory-twist-wheels-and-tires-996-997-turbo-c4s.html">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>8</td>
		<td>50</td>
		<td>996.362.136.04</td>
		<td>9.65 kg</td>
		<td>21.3 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>45</td>
		<td>996.362.142.03</td>
		<td>11.9 kg</td>
		<td>26.2 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>45</td>
		<td>996.362.142.11</td>
		<td>11.9 kg</td>
		<td>26.2 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>45</td>
		<td>996.362.142.32</td>
		<td>12.3 kg</td>
		<td>27.1 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>Turbo Look II</h3>
<div>The looks of the Turbo II in a cheaper and slightly heavier solid spoke design.</div>
<div class="wheel-photo turbo-2">
	<a href="https://rennlist.com/forums/parts-marketplace-old/1113725-18-porsche-oem-factory-twist-wheels-and-tires-996-997-turbo-c4s.html">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>8</td>
		<td>50</td>
		<td>996.362.136.01</td>
		<td>11.9 kg</td>
		<td>26.2 lb</td>
	</tr>
	<tr>
		<td>8</td>
		<td>52</td>
		<td>NA</td>
		<td>11.5 kg</td>
		<td>25.4 lb</td>
	</tr>
	<tr>
		<td>8.5</td>
		<td>40</td>
		<td>996.362.136.31</td>
		<td>12.7 kg</td>
		<td>30.0 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>47</td>
		<td>996.362.140.02</td>
		<td>NA</td>
		<td></td>
	</tr>
	<tr>
		<td>10</td>
		<td>65</td>
		<td>996.362.140.04</td>
		<td>13.0 kg</td>
		<td>28.7 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>45</td>
		<td>996.362.142.01</td>
		<td>14.5 kg</td>
	</tr>
	<tr>
		<td>12</td>
		<td>45</td>
		<td>996.362.142.31</td>
		<td>14.7 kg</td>
		<td>32.4 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>SportTechno</h3>
<div>5-spoke bladed hollow spoke wheel. Optional on the 996.2, C4S, and Turbo</div>
<div class="wheel-photo sport-techno">
	<a href="http://forums.pelicanparts.com/5973802-post1.html">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>8</td>
		<td>50</td>
		<td>996.362.136.51</td>
		<td>9.4 kg</td>
		<td>20.7 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>47</td>
		<td>996.362.140.52</td>
		<td>10.5 kg</td>
		<td>23.1 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>63</td>
		<td>996.362.142.52</td>
		<td>11.9 kg</td>
		<td>26.2 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>SportDesign</h3>
<div>3-piece 10-spoke wheel design</div>
<div class="wheel-photo sport-design">
	<a href="http://forums.pelicanparts.com/porsche-911-used-parts-sale-wanted/1014036-porsche-996-993-carrera-911-986-boxster-bbs-sport-design-wheel-set-18-phila-pa.html">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>7.5</td>
		<td>50</td>
		<td>996.362.134.55</td>
		<td>11.4 kg</td>
		<td>25.1 lb</td>
	</tr>
	<tr>
		<td>8</td>
		<td>52</td>
		<td>996.362.136.50</td>
		<td>11.5 kg</td>
		<td>25.4 lb</td>
	</tr>
	<tr>
		<td>9</td>
		<td>52</td>
		<td>996.362.138.50</td>
		<td>12.2 kg</td>
		<td>26.9 lb</td>
	</tr>
	<tr>
		<td>10</td>
		<td>65</td>
		<td>996.362.140.50</td>
		<td>13.1 kg</td>
		<td>28.9 lb</td>
	</tr>
</table>
</div>

<div class="wheel-details">
<h3>GT3</h3>
<div>Iconic wheel from the mighty 996 GT3</div>

<div class="wheel-photo gt3">
	<a href="https://www.ebay.com/i/274607600737">Source</a>
</div>
<table>
	{% include "tableHead.html" %}
	<tr>
		<td>8</td>
		<td>50</td>
		<td>996.362.136.02</td>
		<td>NA</td>
		<td></td>
	</tr>
	<tr>
		<td>8.5</td>
		<td>40</td>
		<td>996.362.136.05</td>
		<td>12.25 kg</td>
		<td>27 lb</td>
	</tr>
	<tr>
		<td>11</td>
		<td>63</td>
		<td>996.362.142.04</td>
		<td>13.6 kg</td>
		<td>30.0 lb</td>
	</tr>
	<tr>
		<td>12</td>
		<td>45</td>
		<td>NA</td>
		<td>NA</td>
		<td></td>
	</tr>
</table>
</div>

<p>This guide owes a debt to the Rennlist community and to 944 Racing website. For a more comprehensive listing of Porsche wheel styles from different models, check out their guide at <a href="http://www.944racing.de/wheelweights.php">http://www.944racing.de/wheelweights.php</a></p>

<p>All information in this guide has been cobbled together from various sources to the best of the author’s ability. If you’re doing something important or expensive, you should independently verify the information for your application.</p>

<p>If you have additions, suggestions, or corrections, for anything in this guide, please get in touch.</p>

</div>
</section>